ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

a {
    padding: 3px;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 20px;
}

html {
    font-family: cursive;
    font-size: 25px;
    color: blue;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

footer {
    position: initial;
    width: 100%;
    bottom: 0px;
    height: 100px;
    padding-top: 50px;
    color: white;
}

.comcom {
    border: solid 1px black;
    background: white;
    color: black;
    min-width: 60%;
}


/*----------- MENU -----------*/

.menu {
    border: solid 2px black;
    background-color: #97a5a8;
    padding: 10px;
}

#menu1 a {
    border: solid 1px black;
    border-radius: 2px;
    padding: 3px;
    background-color: #E3EEF1;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
}


/*-------------- pure CSS---------*/

.btn {
    cursor: pointer;
    border-radius: 10rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 100ms;
    color: brown;
}

.btn :hover {
    transform: scale(1.15);
}


/*------------ ENTETE -----------*/

.entete {}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}


/*----------- ACCUEIL ----------*/

#content h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.article_view {
    border: solid 1px black;
    width: 50%;
    margin-top: 10px;
    background: white;
    color: black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*---------- LIST ARTICLE ----------*/

.list_article {
    border: solid 1px black;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10PX;
    background: white;
    color: black;
}


/*------------- SINGLE -----------*/

.article {
    border: solid 1px black;
    width: 80%;
    margin-top: 30px;
    background: white;
    color: black;
}

.actions a {
    border: solid 1px black;
    height: 25px;
    padding: 8px;
    background-color: #E3EEF1;
    font-size: 20px;
}

h3 {
    color: orange;
}

#comments {
    width: 65%;
    display: contents;
}

.form_comment {
    margin-bottom: 10px;
}


/*---------- REGISTER ----------*/

.register {
    font-size: 35px;
}


/*---------- CONEXION ----------*/

.pseudo {
    font-size: 35px;
}


/*----------- PROFIL ----------*/

.profile {
    border: solid 1px black;
    color: rgb(248, 71, 1);
    background: white;
}


/*----------- ADMINISTRATION ---------*/

.titre_admin {
    margin-right: 25px;
}

.article_admin {
    display: contents;
}

.info_article {
    display: contents;
}

.action_admin a {
    color: rgb(22, 21, 18);
    height: 25px;
    padding: 8px;
}

td {
    padding-left: 35px;
    color: rgb(5, 5, 5);
}

td a {
    color: rgb(12, 11, 11);
}

table {
    padding-bottom: 25px;
}

.news {
    border: solid 1px black;
    height: 25px;
    padding: 8px;
    background-color: #E3EEF1;
}


/*---------------------YOUTUBE------------------------------*/

iframe {
    width: 560px;
    height: 315px;
}


/*---------------------SLIDER------------------------**/

#slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgContainer {
    height: 300px;
    width: 20%;
    border: solid 2px rgb(10, 10, 10);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#slideImg {
    width: 100%;
    height: 100%;
}

#btnContainer {
    width: 30%;
    text-align: center;
    cursor: pointer;
}

#btnContainer i {
    color: rgb(87, 106, 212);
    font-size: 30px;
    margin: 5px;
}


/*------------------------------MEDIAQUERIES --------------------------*/

@media screen and (max-width:850px) and (min-width:300px) {
    body {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }
    iframe {
        max-width: 100%;
    }
    p {
        font-size: 10px;
    }
    h2 {
        font-size: 10px;
    }
    /*----------------------------ACCUEIL-------------------------*/
    ul {
        flex-direction: column;
        padding: 0px;
    }
    .article_view {
        width: 100%;
    }
    /*---------------------SINGLE---------------------------*/
    .article {
        width: auto;
    }
    #comments {
        width: 75%;
    }
    #comments.text-left {
        margin: auto;
    }
    #comments #btn {
        padding: 0px;
    }
    /*------------------ ADMIN --------------------*/
    #info_article {
        display: none;
    }
    #article_admin td {
        display: block;
    }
    #article_admin {
        padding-bottom: 10px;
        margin-left: 0px;
    }
    .list_article {
        width: 100%;
        padding-left: 0px;
    }
    .btn {
        padding: 20px 0px 0px 20px;
    }
    .action_admin {
        padding: 10px 0px 0px 40px;
    }
    table {
        margin-bottom: 20px;
    }
    .news {
        margin-left: 25px;
    }
    #info_com {
        display: none;
    }
    #id_com {
        display: none;
    }
    #comment_admin,
    td {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    #id_user {
        display: none;
    }
    .form_article {
        max-width: 320px;
    }
    /*----------------------SLIDER-------------------------*/
    #imgContainer {
        width: 40%;
    }
    #btnContainer {
        width: 60%;
    }
}

@media screen and (max-width:1024px) and (min-width:810px) {
    /*------------------------ACCUEIL-------------------------*/
    ul {
        padding: 0px;
    }
    .article_view {
        width: auto;
    }
    .btn {
        padding: 0px;
    }
    /*-------------------SINGLE---------------------------*/
    .article {
        width: auto;
    }
    #comments {
        width: auto;
    }
    h3 {
        margin-left: -50px;
    }
    .form_comment {
        margin-left: -50px;
    }
    #comments #btn {
        padding: 0px;
    }
    .list_article {
        width: 100%;
        padding-left: 0px;
    }
    /*------------------------ADMIN-----------------------*/
    #article_admin .list_article {
        width: 50%;
    }
    .action_admin {
        padding: 0px;
    }
    .article_admin {
        margin-left: 0px;
    }
    #action_com a {
        display: block;
    }
    #comment_admin,
    td {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    /*-----------------------SLIDER-----------------------------*/
    #imgContainer {
        width: 40%;
    }
    #btnContainer {
        width: 60%;
    }
}